pavillonnoir/__doc/dtd/object.dtd

<!--
     http://www.pavillon-noir.org/
     XML DTD for object.pno
-->

<!ELEMENT object (model?, listmaterials?, skeleton?, listanims?)>
<!ELEMENT model EMPTY>
<!ELEMENT listmaterials (material*)>
<!ELEMENT listanims (anim*)>
<!ELEMENT material EMPTY>
<!ELEMENT skeleton EMPTY>
<!ELEMENT anim EMPTY>

<!ATTLIST model path CDATA #IMPLIED>

<!ATTLIST material path CDATA #REQUIRED>

<!ATTLIST skeleton path CDATA #REQUIRED>

<!ATTLIST anim path CDATA #REQUIRED>
