tags/pavillon-noir-0.0.2/pavillonnoir/__binaries/datafiles/maps/__JUNK/physics_demo_01/waypoints.dtd

<!-- 
     http://www.pavillon-noir.org/
     XML DTD for waypoints.xml
-->

<!ELEMENT graph (listlnk, listwp)>
<!ELEMENT listwp (wp*)>
<!ELEMENT listlnk (lnk*)>
<!ELEMENT wp EMPTY>
<!ELEMENT lnk EMPTY>

<!ATTLIST wp id ID #REQUIRED>
<!ATTLIST wp x CDATA #REQUIRED>
<!ATTLIST wp y CDATA #REQUIRED>
<!ATTLIST wp z CDATA #REQUIRED>

<!ATTLIST lnk from IDREF #REQUIRED>
<!ATTLIST lnk to IDREF #REQUIRED>
<!ATTLIST lnk coef CDATA #REQUIRED>
