pavillonnoir/__binaries/datafiles/maps/physics_demo_02/model.dtd

<!--
     http://www.pavillon-noir.org/
     XML DTD for object.xml
-->

<!ELEMENT model (listmaterials?, skeleton?, listanims?)>
<!ELEMENT listmaterials (material*)>
<!ELEMENT listanims (anim*)>
<!ELEMENT material EMPTY>
<!ELEMENT skeleton EMPTY>
<!ELEMENT anim EMPTY>

<!ATTLIST model path CDATA #IMPLIED>

<!ATTLIST material path CDATA #REQUIRED>

<!ATTLIST skeleton path CDATA #REQUIRED>

<!ATTLIST anim path CDATA #REQUIRED>
