.others/rss.net/martin_q group/NRSS.Winformclient/Web References/NRSSServer/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://nrss.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://nrss.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nrss.org/">
      <s:element name="testRSS">
        <s:complexType />
      </s:element>
      <s:element name="testRSSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testRSSResult" type="tns:Feed" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Feed">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fils" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FilsPort" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FilsUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FilsPass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Chans" type="tns:Chan" />
          <s:element minOccurs="1" maxOccurs="1" name="Selected" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Chan">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Items" type="tns:Item" />
          <s:element minOccurs="1" maxOccurs="1" name="Selected" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Item">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Author" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Parent" type="tns:Item" />
          <s:element minOccurs="1" maxOccurs="1" name="Read" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="testCreateUser">
        <s:complexType />
      </s:element>
      <s:element name="testCreateUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="testGetAllFeeds">
        <s:complexType />
      </s:element>
      <s:element name="testGetAllFeedsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testGetAllFeedsResult" type="tns:ArrayOfFeed" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFeed">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Feed" nillable="true" type="tns:Feed" />
        </s:sequence>
      </s:complexType>
      <s:element name="createUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Passwd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Confirmed" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Creation" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastLogon" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Groups" type="tns:Group" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Group">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Creation" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Users" type="tns:Group" />
        </s:sequence>
      </s:complexType>
      <s:element name="createUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="validateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="logon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFeeds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFeedsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFeedsResult" type="tns:ArrayOfFeed" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFeeds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFeedsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFeedsResult" type="tns:ArrayOfFeed" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateFeedsSubscribe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="feeds" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="updateFeedsSubscribeResponse">
        <s:complexType />
      </s:element>
      <s:element name="subscribe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="modifiedFeed" type="tns:Feed" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subscribeResponse">
        <s:complexType />
      </s:element>
      <s:element name="setAsRead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:Item" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setAsReadResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="testRSSSoapIn">
    <wsdl:part name="parameters" element="tns:testRSS" />
  </wsdl:message>
  <wsdl:message name="testRSSSoapOut">
    <wsdl:part name="parameters" element="tns:testRSSResponse" />
  </wsdl:message>
  <wsdl:message name="testCreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:testCreateUser" />
  </wsdl:message>
  <wsdl:message name="testCreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:testCreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="testGetAllFeedsSoapIn">
    <wsdl:part name="parameters" element="tns:testGetAllFeeds" />
  </wsdl:message>
  <wsdl:message name="testGetAllFeedsSoapOut">
    <wsdl:part name="parameters" element="tns:testGetAllFeedsResponse" />
  </wsdl:message>
  <wsdl:message name="createUserSoapIn">
    <wsdl:part name="parameters" element="tns:createUser" />
  </wsdl:message>
  <wsdl:message name="createUserSoapOut">
    <wsdl:part name="parameters" element="tns:createUserResponse" />
  </wsdl:message>
  <wsdl:message name="validateUserSoapIn">
    <wsdl:part name="parameters" element="tns:validateUser" />
  </wsdl:message>
  <wsdl:message name="validateUserSoapOut">
    <wsdl:part name="parameters" element="tns:validateUserResponse" />
  </wsdl:message>
  <wsdl:message name="logonSoapIn">
    <wsdl:part name="parameters" element="tns:logon" />
  </wsdl:message>
  <wsdl:message name="logonSoapOut">
    <wsdl:part name="parameters" element="tns:logonResponse" />
  </wsdl:message>
  <wsdl:message name="getUserSoapIn">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="getUserSoapOut">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="getFeedsSoapIn">
    <wsdl:part name="parameters" element="tns:getFeeds" />
  </wsdl:message>
  <wsdl:message name="getFeedsSoapOut">
    <wsdl:part name="parameters" element="tns:getFeedsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFeedsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFeeds" />
  </wsdl:message>
  <wsdl:message name="getAllFeedsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFeedsResponse" />
  </wsdl:message>
  <wsdl:message name="updateFeedsSubscribeSoapIn">
    <wsdl:part name="parameters" element="tns:updateFeedsSubscribe" />
  </wsdl:message>
  <wsdl:message name="updateFeedsSubscribeSoapOut">
    <wsdl:part name="parameters" element="tns:updateFeedsSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="subscribeSoapIn">
    <wsdl:part name="parameters" element="tns:subscribe" />
  </wsdl:message>
  <wsdl:message name="subscribeSoapOut">
    <wsdl:part name="parameters" element="tns:subscribeResponse" />
  </wsdl:message>
  <wsdl:message name="setAsReadSoapIn">
    <wsdl:part name="parameters" element="tns:setAsRead" />
  </wsdl:message>
  <wsdl:message name="setAsReadSoapOut">
    <wsdl:part name="parameters" element="tns:setAsReadResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="testRSS">
      <wsdl:input message="tns:testRSSSoapIn" />
      <wsdl:output message="tns:testRSSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="testCreateUser">
      <wsdl:input message="tns:testCreateUserSoapIn" />
      <wsdl:output message="tns:testCreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="testGetAllFeeds">
      <wsdl:input message="tns:testGetAllFeedsSoapIn" />
      <wsdl:output message="tns:testGetAllFeedsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <wsdl:input message="tns:createUserSoapIn" />
      <wsdl:output message="tns:createUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <wsdl:input message="tns:validateUserSoapIn" />
      <wsdl:output message="tns:validateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logon">
      <wsdl:input message="tns:logonSoapIn" />
      <wsdl:output message="tns:logonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUserSoapIn" />
      <wsdl:output message="tns:getUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFeeds">
      <wsdl:input message="tns:getFeedsSoapIn" />
      <wsdl:output message="tns:getFeedsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFeeds">
      <wsdl:input message="tns:getAllFeedsSoapIn" />
      <wsdl:output message="tns:getAllFeedsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateFeedsSubscribe">
      <wsdl:input message="tns:updateFeedsSubscribeSoapIn" />
      <wsdl:output message="tns:updateFeedsSubscribeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="subscribe">
      <wsdl:input message="tns:subscribeSoapIn" />
      <wsdl:output message="tns:subscribeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setAsRead">
      <wsdl:input message="tns:setAsReadSoapIn" />
      <wsdl:output message="tns:setAsReadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="testRSS">
      <soap:operation soapAction="http://nrss.org/testRSS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testCreateUser">
      <soap:operation soapAction="http://nrss.org/testCreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testGetAllFeeds">
      <soap:operation soapAction="http://nrss.org/testGetAllFeeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap:operation soapAction="http://nrss.org/createUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <soap:operation soapAction="http://nrss.org/validateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logon">
      <soap:operation soapAction="http://nrss.org/logon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://nrss.org/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFeeds">
      <soap:operation soapAction="http://nrss.org/getFeeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFeeds">
      <soap:operation soapAction="http://nrss.org/getAllFeeds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateFeedsSubscribe">
      <soap:operation soapAction="http://nrss.org/updateFeedsSubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subscribe">
      <soap:operation soapAction="http://nrss.org/subscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setAsRead">
      <soap:operation soapAction="http://nrss.org/setAsRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="testRSS">
      <soap12:operation soapAction="http://nrss.org/testRSS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testCreateUser">
      <soap12:operation soapAction="http://nrss.org/testCreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testGetAllFeeds">
      <soap12:operation soapAction="http://nrss.org/testGetAllFeeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap12:operation soapAction="http://nrss.org/createUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <soap12:operation soapAction="http://nrss.org/validateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logon">
      <soap12:operation soapAction="http://nrss.org/logon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap12:operation soapAction="http://nrss.org/getUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFeeds">
      <soap12:operation soapAction="http://nrss.org/getFeeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFeeds">
      <soap12:operation soapAction="http://nrss.org/getAllFeeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateFeedsSubscribe">
      <soap12:operation soapAction="http://nrss.org/updateFeedsSubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subscribe">
      <soap12:operation soapAction="http://nrss.org/subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setAsRead">
      <soap12:operation soapAction="http://nrss.org/setAsRead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:1919/NRSS.Server/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:1919/NRSS.Server/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>