.others/rss.net/martin_q group/NRSS.Webclient/App_WebReferences/NRSSService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://nrss.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://nrss.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nrss.org/">
      <s:element name="testRSS">
        <s:complexType />
      </s:element>
      <s:element name="testRSSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testRSSResult" type="tns:Feed" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Feed">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fils" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FilsPort" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FilsUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FilsPass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Chans" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Item">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Author" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Parent" type="tns:Item" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Chan">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:element name="getSupportedTypes">
        <s:complexType />
      </s:element>
      <s:complexType name="ImportType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DefaultPort" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfImportType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImportType" nillable="true" type="tns:ImportType" />
        </s:sequence>
      </s:complexType>
      <s:element name="getSupportedTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSupportedTypesResult" type="tns:ArrayOfImportType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Passwd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Confirmed" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Creation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastLogon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Groups" type="tns:ArrayOfAnyType" />
          <s:element minOccurs="0" maxOccurs="1" name="ReadItems" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:element name="createUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="validateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="logon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logonResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="testRSSSoapIn">
    <wsdl:part name="parameters" element="tns:testRSS" />
  </wsdl:message>
  <wsdl:message name="testRSSSoapOut">
    <wsdl:part name="parameters" element="tns:testRSSResponse" />
  </wsdl:message>
  <wsdl:message name="getSupportedTypesSoapIn">
    <wsdl:part name="parameters" element="tns:getSupportedTypes" />
  </wsdl:message>
  <wsdl:message name="getSupportedTypesSoapOut">
    <wsdl:part name="parameters" element="tns:getSupportedTypesResponse" />
  </wsdl:message>
  <wsdl:message name="createUserSoapIn">
    <wsdl:part name="parameters" element="tns:createUser" />
  </wsdl:message>
  <wsdl:message name="createUserSoapOut">
    <wsdl:part name="parameters" element="tns:createUserResponse" />
  </wsdl:message>
  <wsdl:message name="validateUserSoapIn">
    <wsdl:part name="parameters" element="tns:validateUser" />
  </wsdl:message>
  <wsdl:message name="validateUserSoapOut">
    <wsdl:part name="parameters" element="tns:validateUserResponse" />
  </wsdl:message>
  <wsdl:message name="logonSoapIn">
    <wsdl:part name="parameters" element="tns:logon" />
  </wsdl:message>
  <wsdl:message name="logonSoapOut">
    <wsdl:part name="parameters" element="tns:logonResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="testRSS">
      <wsdl:input message="tns:testRSSSoapIn" />
      <wsdl:output message="tns:testRSSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSupportedTypes">
      <wsdl:input message="tns:getSupportedTypesSoapIn" />
      <wsdl:output message="tns:getSupportedTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <wsdl:input message="tns:createUserSoapIn" />
      <wsdl:output message="tns:createUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <wsdl:input message="tns:validateUserSoapIn" />
      <wsdl:output message="tns:validateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logon">
      <wsdl:input message="tns:logonSoapIn" />
      <wsdl:output message="tns:logonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="testRSS">
      <soap:operation soapAction="http://nrss.org/testRSS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupportedTypes">
      <soap:operation soapAction="http://nrss.org/getSupportedTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap:operation soapAction="http://nrss.org/createUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <soap:operation soapAction="http://nrss.org/validateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logon">
      <soap:operation soapAction="http://nrss.org/logon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="testRSS">
      <soap12:operation soapAction="http://nrss.org/testRSS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupportedTypes">
      <soap12:operation soapAction="http://nrss.org/getSupportedTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap12:operation soapAction="http://nrss.org/createUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <soap12:operation soapAction="http://nrss.org/validateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logon">
      <soap12:operation soapAction="http://nrss.org/logon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:1774/NRSS.Server/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:1774/NRSS.Server/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>